.row {
    display: flex; 
    align-items: center
}
.column__50 {
    width: 50%
}
.image__contain {
    height: 250px;
    background-color: #fa7820;
}
.imagen__main {
    object-fit: cover; 
    width:100%; 
    height: 100%;
}